<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TestGit</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>CompareServlet</servlet-name>
    <servlet-class>com.hpe.devops.test.CompareServlet</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>CompareServlet</servlet-name>
    <url-pattern>/compare</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CloneProjectServlet</servlet-name>
    <servlet-class>com.hpe.devops.test.CloneProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloneProjectServlet</servlet-name>
    <url-pattern>/cloneProject</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ViewCommittedLogServlet</servlet-name>
    <servlet-class>com.hpe.devops.test.ViewCommittedLogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCommittedLogServlet</servlet-name>
    <url-pattern>/viewCommittedLog</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DiffVersionServlet</servlet-name>
    <servlet-class>com.hpe.devops.test.DiffVersionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiffVersionServlet</servlet-name>
    <url-pattern>/diffVersion</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PrepareDiffFilesServlet</servlet-name>
    <servlet-class>com.hpe.devops.test.PrepareDiffFilesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrepareDiffFilesServlet</servlet-name>
    <url-pattern>/prepareDiffFiles</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>WebdiffHttpServerServlet</servlet-name>
    <servlet-class>com.hpe.devops.test.WebdiffHttpServerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebdiffHttpServerServlet</servlet-name>
    <url-pattern>/webdiffHttpServer</url-pattern>
  </servlet-mapping>
</web-app>